@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: hsl(238, 33%, 17%);
    --color-primary-focus: hsl(238 33% 07%);
    --color-primary-content: hsl(0 0% 100%);
    --color-secondary: hsl(261 49% 33%);
    --color-secondary-focus: hsl(261 49% 23%);
    --color-secondary-content: hsl(0 0% 100%);
    --color-accent: hsl(187 42% 46%);
    --color-accent-focus: hsl(187 42% 36%);
    --color-accent-content: hsl(0 0% 100%);
    --color-neutral: hsl(0 0% 95%);
    --color-neutral-focus: hsl(0 0% 85%);
    --color-neutral-content: hsl(0 0% 10%);
    --color-base-100: hsl(0 0% 100%);
    --color-base-200: hsl(0 0% 85%);
    --color-base-300: hsl(0 0% 70%);
    --color-base-content: hsl(0 0% 10%);
    --color-info: hsl(261 49% 33%);
    --color-info-content: hsl(0 0% 100%);
    --color-success: hsl(261 49% 33%);
    --color-success-content: hsl(0 0% 100%);
    --color-warning: hsl(31 76, 57);
    --color-warning-content: hsl(0 0% 100%);
    --color-error: hsl(5 88% 65%);
    --color-error-content: hsl(0 0% 100%);
  }
  .dark {
    --color-primary: hsl(238, 33%, 17%);
    --color-primary-focus: hsl(238 33% 07%);
    --color-primary-content: hsl(0 0% 100%);
    --color-secondary: hsl(261 49% 33%);
    --color-secondary-focus: hsl(261 49% 23%);
    --color-secondary-content: hsl(0 0% 100%);
    --color-accent: hsl(187 42% 46%);
    --color-accent-focus: hsl(187 42% 36%);
    --color-accent-content: hsl(0 0% 100%);
    --color-neutral: hsl(261 49% 33%);
    --color-neutral-focus: hsl(261 49% 23%);
    --color-neutral-content: hsl(0 0% 100%);
    --color-base-100: hsl(238 25% 21%);
    --color-base-200: hsl(238, 33%, 16%);
    --color-base-300: hsl(238, 33%, 11%);
    --color-base-content: hsl(0 0% 100%);
    --color-info: hsl(261 49% 33%);
    --color-info-content: hsl(0 0% 100%);
    --color-success: hsl(261 49% 33%);
    --color-success-content: hsl(0 0% 100%);
    --color-warning: hsl(31 76, 57);
    --color-warning-content: hsl(0 0% 100%);
    --color-error: hsl(5 88% 65%);
    --color-error-content: hsl(0 0% 100%);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  * {
    @apply box-border;
  }
}

@layer components {
  /* btn styles */
  .btn {
    @apply inline-flex items-center rounded-md border border-transparent px-4 py-1.5 text-xs font-medium focus:outline-none;
  }

  .btn-primary {
    @apply border-secondary bg-secondary text-secondary-content shadow-sm hover:border-secondary-focus 
      hover:bg-secondary-focus focus:bg-secondary-focus;
  }

  .btn-primary-accent {
    @apply border-accent bg-accent text-accent-content shadow-sm hover:border-accent-focus
     hover:bg-accent-focus focus:bg-accent-focus;
  }

  .btn-secondary {
    @apply border-primary bg-base-100 text-neutral-content shadow-sm hover:bg-base-200;
  }

  .btn-link {
    @apply text-accent;
  }
}
